scrapy>=2.11
beautifulsoup4
lxml
requests
scrapy-redis
fake-useragent
pandas
numpy
openpyxl
pdfplumber
pymysql
sqlalchemy
redis
pyspark==3.5.1
findspark
pyecharts
flask
pytest
python-dotenv
pyyaml
setuptools
